import nox

{%- if project_type == "lib" %}
PYTHON_VERSIONS = {{ supported_python_versions | to_json }}


@nox.session(name="ruff", python=PYTHON_VERSIONS, reuse_venv=True)
def run_ruff(session: nox.Session) -> None:
    session.run("poetry", "install", "--all-extras", external=True)
    session.run("poetry", "run", "ruff", "check", external=True)
    session.run("poetry", "run", "ruff", "format", "--check", external=True)


@nox.session(name="mypy", python=PYTHON_VERSIONS, reuse_venv=True)
def run_mypy(session: nox.Session) -> None:
    session.run("poetry", "install", "--all-extras", external=True)
    session.run("poetry", "run", "mypy", external=True)


@nox.session(name="pytest", python=PYTHON_VERSIONS, reuse_venv=True)
def run_pytest(session: nox.Session) -> None:
    session.run("poetry", "install", "--all-extras", external=True)
    session.run("poetry", "run", "pytest", "--cov-report=xml", external=True)

{%- endif %}
